<%= simple_form_for([@podcast, @podcast.reviews.build]) do |f| %>
  
  <div id="rating-form">
    <label>Rating</label>
  </div>

  <%= f.input :comment %>
  <%= f.button :submit, :class "btn-custom1" %>
<% end %>

<script>
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>
