<div class="jumbotron center">
  <h1><i class="fa fa-headphones"></i> Podcastr.</h1>
  <p>Podcasts for curious minds</p>
</div>


<h1 class="current-category"><%= params[:category] %></h1>

<% if @podcasts.count == 0 %>
    <h1>There are no podcasts currently in this category</h1>
  <% else %>

  <div class="main">
  <div class="row">
      <% @podcasts.each do |podcast| %>
         <div class="col-md-3">
         <%= image_tag podcast.podcast_img.url(:podcast_index) %>
       </div>
       <% end %> 
</div>
<% end %>

<footer id="main_footer">
  <p class="copyright"> &copy; 2015 Neil Patel</p>
   <nav>
    <a href="http://twitter.com/neilp666" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="http://www.facebook.com/indianstartupshow" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="http://github.com/neilp666" target="_blank"><i class="fa fa-github"></i></a>
   </nav>
</footer>
</div>


